<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Grocery List Tracker - Use List</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Boogaloo&family=Raleway:ital,wght@1,300&display=swap"
            rel="stylesheet"
        />
    </head>

    <body>
        <div class="container">
            <h1 class="mainHeader">Tim's Grocery List Tracker</h1>
            <div class="row">
                <a
                    class="waves-effect waves-light btn-large col s4 buttonColor"
                    href="/"
                    >Home</a
                >
                <a
                    class="waves-effect waves-light btn-large col s4 buttonColor"
                    href="/useList"
                    >Use List</a
                >
                <a
                    class="waves-effect waves-light btn-large col s4 buttonColor"
                    href="/modifyList"
                    >Modify List</a
                >
            </div>
            <div class="row"></div>
            <table class="highlight centered" id="table_body">
                <caption id="table_header">
                    Grocery List Items
                </caption>
                <thead>
                    <tr>
                        <th>Item Name</th>
                        <th>Item Count</th>
                    </tr>
                </thead>
                <!-- getting error here, idk why -->
                <tbody id="list_table_body"></tbody>
            </table>
        </div>
    </body>

    <!-- materialize stuff -->
    <link rel="stylesheet" href="stylesheets/materialize.min.css" />
    <script src="javascripts/materialize.min.js"></script>
    <!-- my own css -->
    <link rel="stylesheet" href="/stylesheets/myCSS.css" />
</html>
