<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Grocery List Tracker - Use List</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Boogaloo&family=Raleway:ital,wght@1,300&display=swap"
            rel="stylesheet"
        />
    </head>

    <body>
        <div class="container">
            <h1 class="mainHeader">Tim's Grocery List Tracker</h1>
            <div class="row">
                <a
                    class="waves-effect waves-light btn-large col s4 buttonColor"
                    href="/"
                    >Home</a
                >
                <a
                    class="waves-effect waves-light btn-large col s4 buttonColor"
                    href="/useList"
                    >Use List</a
                >
                <a
                    class="waves-effect waves-light btn-large col s4 buttonColor"
                    href="/modifyList"
                    >Modify List</a
                >
            </div>
            <h1 class="table_header">Grocery List Items</h1>
            <table class="highlight centered" id="table_body">
                <thead>
                    <tr class="row table_header">
                        <th class="col s4" style="padding: 12px">Item Name</th>
                        <th class="col s4" style="padding: 12px">Item Count</th>
                        <th class="col s4" style="padding: 12px">
                            In Shopping Cart
                        </th>
                    </tr>
                </thead>
                <tbody id="list_table_body">
                    <!-- add the rows of the table in here. Each row has 3 columns, each column is the item name, the item count, and whether the item is in the list or not  -->
                    <% for (let item of groceryList) { %>
                    <tr class="row">
                        <td class="col s4" style="padding: 12px">
                            <%= item.item_name %>
                        </td>
                        <td class="col s4" style="padding: 12px">
                            <%= item.item_count %>
                        </td>
                        <!-- don't display the number 1 or 0, display yes or no -->
                        <!-- TODO make these buttons that user can click to flip them back and forth from yes or no, and every time button is clicked, update value in database -->
                        <% if (item.item_in_cart == 1) { %>
                        <td
                            class="col s4 yes-button-color"
                            style="padding: 12px"
                        >
                            Yes
                        </td>
                        <% } else { %>
                        <td
                            class="col s4 no-button-color"
                            style="padding: 12px"
                        >
                            No
                        </td>
                        <% } %>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </body>

    <!-- materialize stuff -->
    <link rel="stylesheet" href="stylesheets/materialize.min.css" />
    <script src="javascripts/materialize.min.js"></script>
    <!-- my own css -->
    <link rel="stylesheet" href="/stylesheets/myCSS.css" />
</html>
